@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
.box{
    width: 600px;
    height: 600px;
    border: 2px solid #333;
    background-repeat: no-repeat;
    background-position: top left, top center, top right, center left, center, center right, bottom left, bottom center, bottom right;
    background-image: url('https://picsum.photos/id/1/200/200') ,url('https://picsum.photos/id/2/200/200'),url('https://picsum.photos/id/3/200/200') ,url('https://picsum.photos/id/4/200/200'), url('https://picsum.photos/id/5/200/200') ,url('https://picsum.photos/id/6/200/200'), url('https://picsum.photos/id/7/200/200'), url('https://picsum.photos/id/8/200/200'), url('https://picsum.photos/id/9/200/200');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Poppins' , Arial, Helvetica, sans-serif;
    font-weight: 500;
   
} 